/.DS_Store
/.venv
/venv
/words
/itsgiving/wordinput/static/wordinput/data/wiki-news-300d-1M.vec
/itsgiving/itsgiving/__pycache__
/itsgiving/wordinput/__pycache__

itsgiving/wordinput/__pycache__/views.cpython-310.pyc
itsgiving/wordinput/__pycache__/models.cpython-310.pyc
itsgiving/wordinput/__pycache__/model_loader.cpython-310.pyc
itsgiving/wordinput/__pycache__/forms.cpython-310.pyc
itsgiving/wordinput/__pycache__/apps.cpython-310.pyc
itsgiving/wordinput/__pycache__/ai_utils.cpython-310.pyc
itsgiving/wordinput/__pycache__/__init__.cpython-310.pyc
itsgiving/itsgiving/__pycache__/urls.cpython-310.pyc
itsgiving/itsgiving/__pycache__/settings.cpython-310.pyc
itsgiving/itsgiving/__pycache__/__init__.cpython-310.pyc
